<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044301582240-s0derip19gsqnpacdrnu65eskpfln96t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044301582240-s0derip19gsqnpacdrnu65eskpfln96t</string>
	<key>API_KEY</key>
	<string>AIzaSyB40hLokFUiFKqJsk-pzGX18GIvsiUxo7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1044301582240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>citycitizen</string>
	<key>PROJECT_ID</key>
	<string>cityprog-24974</string>
	<key>STORAGE_BUCKET</key>
	<string>cityprog-24974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044301582240:ios:23f25f99cb0bb19ae6dec5</string>
	<key>DATABASE_URL</key>
	<string>https://cityprog-24974.firebaseio.com</string>
</dict>
</plist>